<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main">

        {{>header}}

    <h1>Behold, the about page</h1>
    <img src="https://y.yarn.co/0c980bce-99cb-4e97-8113-ce8548143703_screenshot.jpg" >
    <h1>{{question}}  {{sum}}</h1>
    </div>

        {{>footer}}
<script src="/js/app.js"></script>
</body>
</html>